$body-bg: #fff;
$body-color: #565656;

$font-size-base: 1rem;

$font-family-base: "Poppins", sans-serif;

$headings-color: #000;

$list-group-bg: #1c1c1c;

$list-group-border-color: #fff;
// $spacer: 3rem;
$navbar-padding-y: 1rem;
@import '~bootstrap/scss/bootstrap.scss';