/* Container Style */
body {
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  /* box-sizing: border-box; */
}

.container {
  
}

/* Navbar Style */
.navbar {
  /* height: 75px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-toggler {
  border: none;
  outline: none;
  font-size: 14px;
}
.nav-link {
  font-weight: 200;
}
.dropdown-menu {
  border: none;
}
.menu {
  font-size: 14px;
  font-weight: 100;
  padding-left: 4px;
}


/* Header Style */
.header {
  /* display: flex; */
  height: 100px;
  justify-content: center;
  align-items: center;
  /* display: block; */
  font-size: 24px;
  /* line-height: 1.4em; */
  line-height: 100px;
  font-weight: 400;
  margin: 0;
  color: #333;
  text-align: center;
}

/* Post Style */
.post {
  margin-bottom: 30px;
  padding: 0;
  border: 1px solid #e9e9e9;
  /* margin-right: 2px; */
  max-width: 350px;
}

.post img {
  width: 100%; 
  display:block; 
  height: auto;
  /* border: 1px solid red; */
}

.post .content {
  padding: 0 15px;
}

.post a {
  color: #333;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.post-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 20px 0 12px 0;
}

.post-meta {
  /* display: flex; */
  /* justify-content: flex-start; */
  
  display: inline-block;
  width: 100%;
  color: #777;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.meta-item {
  float: left;
  line-height: 1.3;
  margin-left: 10px;
  padding-left: 5px;
}

.meta-item:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.post p {
  margin-bottom: 20px;
}

.post a {
  text-decoration: none;
}

.post a:hover {
  color:  #13aff0;
}

/* Postsbar Style */
.posts-sidebar {
  /* border: 1px solid red; */
  /* border-left: 1px solid #ddd; */
  /* padding-left: 35px; */
}

.col-posts-sidebar {
  border-left: 1px solid #ddd;
  padding-left: 35px;
}

.posts-sidebar input {
  width: 100%;
  margin-bottom: 40px;

  /* display: inline-block; */
  min-height: 40px;
  font-size: 14px;
  line-height: 1.8;
  padding: 6px 12px;
  vertical-align: middle;
  background-color: transparent;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.posts-sidebar h4 {
  color: inherit;
  font-size: 15px;
  font-weight: 400;
}

.posts-sidebar .list-group-item {
  background-color: #fff;
  color: inherit;
  font-weight: 200;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

/* Foote Style */
.footer {
  color: #ededed;;
  background-color: #1c1c1c;
  text-emphasis: left;
  padding: 20px;
  padding-bottom: 5px;
  margin-top: 50px;
  padding-top: 90px;
}

.footer-box {
  margin-bottom: 40px;
  padding: 0 20px;
}

.box-title {
  display: block;
  line-height: 1;
  font-size: 13px;
  color: white;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: #13aff0;
  letter-spacing: 1px;
  padding-left: 15px;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.box-content {
  font-size: 17px;
  font-weight: 600;
}

.copy {
  font-size: 13px;
  text-align: center;
  margin: 80px 0 0 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #13aff0;
};

.debug {
  border: 1px solid red;
}
